* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  padding: 10px 32px;
  background-color: antiquewhite;
  z-index: 100;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  justify-self: start;
}

#btn {
  padding: 10px 16px;
  border: 0;
  background-color: #e5c3bc;
  border-radius: 16px;
}

#btn:is(:focus, :hover) {
  background-color: #d4a095;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px 32px;
}

.card {
  height: 200px;
  padding: 32px;
  color: white;
  text-align: center;
  background-color: #8f5346;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card #read-status {
  cursor: pointer;
  background-color: #c98f83;
  color: rgb(187, 0, 0);
  font-weight: 600;
  border-radius: 16px;
  padding: 4px 0px;
}

.card #read-status:is(:focus, :hover) {
  background-color: #ab6557;
}

.card #remove {
  outline: 0;
  border: 0;
  padding: 8px 16px;
  font-weight: 600;
  background-color: #e5c3bc;
  border-radius: 16px;
}

.card #remove:is(:focus, :hover) {
  background-color: #d4a095;
}

.footer {
  display: grid;
  place-items: center;
  padding: 12px;
  background-color: aliceblue;
}

.modal {
  display: none;
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: aqua;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border-radius: 12px;
  padding: 14px 14px;
}

.modal p {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .wrapper {
  /* flex-grow: 1; */
}

.wrapper input {
  width: 60%;
}

label[for='title'] {
  margin-right: 80px;
}
label[for='author'] {
  margin-right: 64px;
}

button[type='submit'] {
  align-self: center;
  padding: 8px 16px;
}
