:root {
  --btn-bg: #cfe795;
  --btn-active: #a7d3a6;
  --bg-color: #d4c685;
  --white: white;
  --shadow: 1px 3px 8px 1px rgba(128, 128, 128, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  padding: 10px 32px;
  background-color: var(--bg-color);
  z-index: 100;
  box-shadow: var(--shadow);
}

h1 {
  justify-self: start;
}

#btn {
  justify-self: end;
  padding: 10px 16px;
  border: 0;
  background-color: var(--btn-bg);
  border-radius: 16px;
  font-weight: 600;
}

#btn:is(:focus, :hover) {
  background-color: var(--btn-active);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px 32px;
}

.card {
  height: 200px;
  padding: 32px;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--shadow);
}

.card #read-status {
  cursor: pointer;
  background-color: var(--btn-bg);
  color: rgb(187, 0, 0);
  font-weight: 600;
  border-radius: 16px;
  padding: 4px 0px;
}

.card #read-status:is(:focus, :hover) {
  background-color: var(--btn-active);
}

.card #remove {
  outline: 0;
  border: 0;
  padding: 8px 16px;
  font-weight: 600;
  background-color: var(--btn-bg);
  border-radius: 16px;
}

.card #remove:is(:focus, :hover) {
  background-color: var(--btn-active);
}

.footer {
  display: grid;
  place-items: center;
  padding: 12px;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  color: var(--bg-color);
  line-height: 1.6;
}

.footer a:is(:hover, :focus) {
  text-decoration-line: underline;
}

.modal {
  display: none;
  position: absolute;
  max-width: 30%;
  min-height: 40;
  background-color: var(--bg-color);
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border-radius: 12px;
  padding: 14px 14px;
  box-shadow: var(--shadow);
}

.modal p {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.wrapper input {
  width: 60%;
  height: 25px;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 8px;
  outline: 0;
  border: 0;
}

.wrapper input:invalid {
  border: 2px solid red;
}

.wrapper input:valid {
  border: 2px solid green;
}

.wrapper #read {
  height: 14px;
  margin-left: 25%;
  flex-basis: content;
}

.wrapper #read:focus {
  outline: 1px solid var(--white);
}

label[for='title'] {
  margin-right: 80px;
}
label[for='author'] {
  margin-right: 64px;
}

.wrapper.btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button[type='submit'],
button[type='button'] {
  padding: 8px 16px;
  border-radius: 12px;
  border: 0;
  outline: 0;
  background-color: var(--btn-bg);
  font-weight: 600;
}

button[type='submit']:is(:focus, :hover),
button[type='button']:is(:focus, :hover) {
  background-color: var(--btn-active);
}
